s3/nifi-jed-aws-nar/target/META-INF/docs/extension-manifest.xml
<extensionManifest><systemApiVersion>1.14.0</systemApiVersion><extensions><extension><name>custom.processors.jed.aws.SoftFetchS3Object</name><type>PROCESSOR</type><deprecationNotice/><description>Retrieves the contents of an S3 Object, if the S3 Object exist, and writes it to the content of a FlowFile. Several custom S3 attributes are set. Three custom properties, bulletin, penalize and include-content are available to set.</description><tags><tag>Amazon</tag><tag>S3</tag><tag>AWS</tag><tag>Get</tag><tag>Fetch</tag></tags><properties><property><name>Bucket</name><displayName>Bucket</displayName><description></description><defaultValue></defaultValue><allowableValues></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Object Key</name><displayName>Object Key</displayName><description></description><defaultValue>${filename}</defaultValue><allowableValues></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Region</name><displayName>Region</displayName><description></description><defaultValue>us-west-2</defaultValue><allowableValues><allowableValue><displayName>AWS GovCloud (US)</displayName><value>us-gov-west-1</value><description>AWS Region Code : us-gov-west-1</description></allowableValue><allowableValue><displayName>AWS GovCloud (US-East)</displayName><value>us-gov-east-1</value><description>AWS Region Code : us-gov-east-1</description></allowableValue><allowableValue><displayName>US East (N. Virginia)</displayName><value>us-east-1</value><description>AWS Region Code : us-east-1</description></allowableValue><allowableValue><displayName>US East (Ohio)</displayName><value>us-east-2</value><description>AWS Region Code : us-east-2</description></allowableValue><allowableValue><displayName>US West (N. California)</displayName><value>us-west-1</value><description>AWS Region Code : us-west-1</description></allowableValue><allowableValue><displayName>US West (Oregon)</displayName><value>us-west-2</value><description>AWS Region Code : us-west-2</description></allowableValue><allowableValue><displayName>EU (Ireland)</displayName><value>eu-west-1</value><description>AWS Region Code : eu-west-1</description></allowableValue><allowableValue><displayName>EU (London)</displayName><value>eu-west-2</value><description>AWS Region Code : eu-west-2</description></allowableValue><allowableValue><displayName>EU (Paris)</displayName><value>eu-west-3</value><description>AWS Region Code : eu-west-3</description></allowableValue><allowableValue><displayName>EU (Frankfurt)</displayName><value>eu-central-1</value><description>AWS Region Code : eu-central-1</description></allowableValue><allowableValue><displayName>EU (Stockholm)</displayName><value>eu-north-1</value><description>AWS Region Code : eu-north-1</description></allowableValue><allowableValue><displayName>EU (Milan)</displayName><value>eu-south-1</value><description>AWS Region Code : eu-south-1</description></allowableValue><allowableValue><displayName>Asia Pacific (Hong Kong)</displayName><value>ap-east-1</value><description>AWS Region Code : ap-east-1</description></allowableValue><allowableValue><displayName>Asia Pacific (Mumbai)</displayName><value>ap-south-1</value><description>AWS Region Code : ap-south-1</description></allowableValue><allowableValue><displayName>Asia Pacific (Singapore)</displayName><value>ap-southeast-1</value><description>AWS Region Code : ap-southeast-1</description></allowableValue><allowableValue><displayName>Asia Pacific (Sydney)</displayName><value>ap-southeast-2</value><description>AWS Region Code : ap-southeast-2</description></allowableValue><allowableValue><displayName>Asia Pacific (Tokyo)</displayName><value>ap-northeast-1</value><description>AWS Region Code : ap-northeast-1</description></allowableValue><allowableValue><displayName>Asia Pacific (Seoul)</displayName><value>ap-northeast-2</value><description>AWS Region Code : ap-northeast-2</description></allowableValue><allowableValue><displayName>Asia Pacific (Osaka)</displayName><value>ap-northeast-3</value><description>AWS Region Code : ap-northeast-3</description></allowableValue><allowableValue><displayName>South America (Sao Paulo)</displayName><value>sa-east-1</value><description>AWS Region Code : sa-east-1</description></allowableValue><allowableValue><displayName>China (Beijing)</displayName><value>cn-north-1</value><description>AWS Region Code : cn-north-1</description></allowableValue><allowableValue><displayName>China (Ningxia)</displayName><value>cn-northwest-1</value><description>AWS Region Code : cn-northwest-1</description></allowableValue><allowableValue><displayName>Canada (Central)</displayName><value>ca-central-1</value><description>AWS Region Code : ca-central-1</description></allowableValue><allowableValue><displayName>Middle East (Bahrain)</displayName><value>me-south-1</value><description>AWS Region Code : me-south-1</description></allowableValue><allowableValue><displayName>Africa (Cape Town)</displayName><value>af-south-1</value><description>AWS Region Code : af-south-1</description></allowableValue><allowableValue><displayName>US ISO East</displayName><value>us-iso-east-1</value><description>AWS Region Code : us-iso-east-1</description></allowableValue><allowableValue><displayName>US ISOB East (Ohio)</displayName><value>us-isob-east-1</value><description>AWS Region Code : us-isob-east-1</description></allowableValue><allowableValue><displayName>US ISO West</displayName><value>us-iso-west-1</value><description>AWS Region Code : us-iso-west-1</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>bulletin</name><displayName>bulletin</displayName><description>If true, indicates the error bulletin will involke if S3 file is not found.</description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>True</displayName><value>true</value><description>Indicates the error bulletin will involke if S3 file is not found.</description></allowableValue><allowableValue><displayName>False</displayName><value>false</value><description>Indicates the error bulletin will not involke if S3 is file not found.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>penalize</name><displayName>penalize</displayName><description>If true, indicates penalize will involke if S3 file is not found.</description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>True</displayName><value>true</value><description>Indicates penalize will involke if S3 file is not found.</description></allowableValue><allowableValue><displayName>False</displayName><value>false</value><description>Indicates penalize will not involke if S3 is file not found.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>include-content</name><displayName>Include Content</displayName><description>If true, includes file content.</description><defaultValue>true</defaultValue><allowableValues><allowableValue><displayName>True</displayName><value>true</value><description>Include file content.</description></allowableValue><allowableValue><displayName>False</displayName><value>false</value><description>Include file content.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Access Key</name><displayName>Access Key ID</displayName><description></description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>true</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>VARIABLE_REGISTRY</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Secret Key</name><displayName>Secret Access Key</displayName><description></description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>true</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>VARIABLE_REGISTRY</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Credentials File</name><displayName>Credentials File</displayName><description>Path to a file containing AWS access key and secret key in properties file format.</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition><cardinality>SINGLE</cardinality><resourceTypes><resourceType>FILE</resourceType></resourceTypes></resourceDefinition></property><property><name>AWS Credentials Provider service</name><displayName>AWS Credentials Provider service</displayName><description>The Controller Service that is used to obtain aws credentials provider</description><defaultValue></defaultValue><controllerServiceDefinition><className>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</className><groupId>custom</groupId><artifactId>nifi-jed-aws-nar</artifactId><version>1.14.0</version></controllerServiceDefinition><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Communications Timeout</name><displayName>Communications Timeout</displayName><description></description><defaultValue>30 secs</defaultValue><allowableValues></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Version</name><displayName>Version</displayName><description>The Version of the Object to download</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>SSL Context Service</name><displayName>SSL Context Service</displayName><description>Specifies an optional SSL Context Service that, if provided, will be used to create connections</description><defaultValue></defaultValue><controllerServiceDefinition><className>org.apache.nifi.ssl.SSLContextService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>1.14.0</version></controllerServiceDefinition><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Endpoint Override URL</name><displayName>Endpoint Override URL</displayName><description>Endpoint URL to use instead of the AWS default including scheme, host, port, and path. The AWS libraries select an endpoint URL based on the AWS region, but this property overrides the selected endpoint URL, allowing use with other S3-compatible endpoints.</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>VARIABLE_REGISTRY</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Signer Override</name><displayName>Signer Override</displayName><description>The AWS libraries use the default signer but this property allows you to specify a custom signer to support older S3-compatible services.</description><defaultValue>Default Signature</defaultValue><allowableValues><allowableValue><displayName>Default Signature</displayName><value>Default Signature</value><description></description></allowableValue><allowableValue><displayName>Signature v4</displayName><value>AWSS3V4SignerType</value><description></description></allowableValue><allowableValue><displayName>Signature v2</displayName><value>S3SignerType</value><description></description></allowableValue></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>encryption-service</name><displayName>Encryption Service</displayName><description>Specifies the Encryption Service Controller used to configure requests. PutS3Object: For backward compatibility, this value is ignored when 'Server Side Encryption' is set. FetchS3Object: Only needs to be configured in case of Server-side Customer Key, Client-side KMS and Client-side Customer Key encryptions.</description><defaultValue></defaultValue><controllerServiceDefinition><className>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</className><groupId>custom</groupId><artifactId>nifi-jed-aws-nar</artifactId><version>1.14.0</version></controllerServiceDefinition><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>proxy-configuration-service</name><displayName>Proxy Configuration Service</displayName><description>Specifies the Proxy Configuration Controller Service to proxy network requests. If set, it supersedes proxy settings configured per component. Supported proxies: HTTP + AuthN</description><defaultValue></defaultValue><controllerServiceDefinition><className>org.apache.nifi.proxy.ProxyConfigurationService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>1.14.0</version></controllerServiceDefinition><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Proxy Host</name><displayName>Proxy Host</displayName><description>Proxy host name or IP</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>VARIABLE_REGISTRY</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>Proxy Host Port</name><displayName>Proxy Host Port</displayName><description>Proxy host port</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>VARIABLE_REGISTRY</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>proxy-user-name</name><displayName>Proxy Username</displayName><description>Proxy username</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>proxy-user-password</name><displayName>Proxy Password</displayName><description>Proxy password</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>true</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>requester-pays</name><displayName>Requester Pays</displayName><description>If true, indicates that the requester consents to pay any charges associated with retrieving objects from the S3 bucket.  This sets the 'x-amz-request-payer' header to 'requester'.</description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>True</displayName><value>true</value><description>Indicates that the requester consents to pay any charges associated with retrieving objects from the S3 bucket.</description></allowableValue><allowableValue><displayName>False</displayName><value>false</value><description>Does not consent to pay requester charges for retrieving objects from the S3 bucket.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>range-start</name><displayName>Range Start</displayName><description>The byte position at which to start reading from the object. An empty value or a value of zero will start reading at the beginning of the object.</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property><property><name>range-length</name><displayName>Range Length</displayName><description>The number of bytes to download from the object, starting from the Range Start. An empty value or a value that extends beyond the end of the object will read to the end of the object.</description><defaultValue></defaultValue><allowableValues></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><resourceDefinition></resourceDefinition></property></properties><dynamicProperties></dynamicProperties><relationships><relationship><name>success</name><description>FlowFiles are routed to success relationship</description><autoTerminated>false</autoTerminated></relationship><relationship><name>failure</name><description>FlowFiles are routed to failure relationship</description><autoTerminated>false</autoTerminated></relationship></relationships><dynamicRelationship></dynamicRelationship><readsAttributes></readsAttributes><writesAttributes><writesAttribute><name>s3.bucket</name><description>The name of the S3 bucket</description></writesAttribute><writesAttribute><name>s3.key</name><description>The name of the S3 key</description></writesAttribute><writesAttribute><name>s3.exist</name><description>Boolean value of S3 key existance</description></writesAttribute><writesAttribute><name>s3.message</name><description>Exception reason</description></writesAttribute><writesAttribute><name>s3.messagetype</name><description>Exception type</description></writesAttribute><writesAttribute><name>s3.statuscode</name><description>HTTP status code</description></writesAttribute><writesAttribute><name>path</name><description>The path of the file</description></writesAttribute><writesAttribute><name>absolute.path</name><description>The path of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>hash.value</name><description>The MD5 sum of the file</description></writesAttribute><writesAttribute><name>hash.algorithm</name><description>MD5</description></writesAttribute><writesAttribute><name>mime.type</name><description>If S3 provides the content type/MIME type, this attribute will hold that file</description></writesAttribute><writesAttribute><name>s3.etag</name><description>The ETag that can be used to see if the file has changed</description></writesAttribute><writesAttribute><name>s3.expirationTime</name><description>If the file has an expiration date, this attribute will be set, containing the milliseconds since epoch in UTC time</description></writesAttribute><writesAttribute><name>s3.expirationTimeRuleId</name><description>The ID of the rule that dictates this object's expiration time</description></writesAttribute><writesAttribute><name>s3.sseAlgorithm</name><description>The server side encryption algorithm of the object</description></writesAttribute><writesAttribute><name>s3.version</name><description>The version of the S3 object</description></writesAttribute><writesAttribute><name>s3.encryptionStrategy</name><description>The name of the encryption strategy that was used to store the S3 object (if it is encrypted)</description></writesAttribute></writesAttributes><stateful></stateful><restricted></restricted><inputRequirement>INPUT_REQUIRED</inputRequirement><systemResourceConsiderations></systemResourceConsiderations><seeAlso/></extension></extensions></extensionManifest>